
<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Yorum bırakın</h3>
    <form method="post" asp-action="AddChildrenComment" asp-controller="Blog" class="p-5 bg-light">
        <div class="form-group">
            <input type="hidden" value="@ViewBag.commentid" Name=BlogId class="form-control" id="email">

            <label for="name">Ad *</label>
            <input Name=Name type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="name">Mail *</label>
            <input Name=Email type="email" class="form-control" id="name">
        </div>


        <div class="form-group">
            <label for="message">Yorumunuz</label>
            <textarea Name=Description id="message" cols="10" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Yorum yap" class="btn py-3 px-4 btn-primary">
        </div>

    </form>
</div>