@using CarBook.Dtos.BrandDtos
@model CreateBrandDto
@{
	ViewData["Title"] = "CreateBrand";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
	<div class="container-fluid">

		<!-- start page title -->
		<div class="row">
			<div class="col-xl-12">

				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Yeni marka girişi</h4>
						<p class="card-subtitle mb-4">Marka ile ilgili temel bilgileri eksiksiz doldurunuz.</p>

						<form method="post">
							
							<div class="form-group">
								<label for="exampleInputModel">Marka Adı</label>
								<input asp-for=Name type="text" class="form-control" id="exampleInputModel" placeholder="Marka adı">
							</div>
							<button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
</div> 