@using CarBook.Dtos.AboutDtos
@model UpdateAboutDto
@{
	ViewData["Title"] = "UpdateAbout";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
	<div class="container-fluid">

		<!-- start page title -->
		<div class="row">
			<div class="col-xl-12">

				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Hakkımda güncelleme</h4>
						<p class="card-subtitle mb-4">Hakkımda ile ilgili temel bilgileri eksiksiz doldurunuz.</p>

						<form method="post">
							<input type="hidden" asp-for="aboutId" />
							<div class="form-group">
								<label for="exampleInputModel">Başlık</label>
								<input asp-for=title type="text" class="form-control" id="exampleInputModel" placeholder="Başlık">
							</div>
							<div class="form-group">
								<label for="exampleInputModel">Açıklama</label>
								<input asp-for=description type="text" class="form-control" id="exampleInputModel" placeholder="Açıklama">
							</div>
							<div class="form-group">
								<label for="exampleInputModel">Resim url</label>
								<input asp-for=imageUrl type="text" class="form-control" id="exampleInputModel" placeholder="Resim url">
							</div>

							<button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
</div> 